build
target
out
lib
pom.xml
# use glob syntax.
syntax: glob
*.class
*.jar
*~
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.dot
.cake/
.lein-failures
.repl
resources/public/js/*
.lein-deps-sum
.clojurescript-output*
.lein-cljsbuild-compiler-0
.lein-plugins*
.repl-phantom*
repl
